.card {
  /* Add shadows to create the "card" effect. */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 8px;
  min-height: 325px;
  max-width: 315px;
}

/* Increasing animation length for each subsequent card creates a cascade effect. */
/* This animation will happen on initial card render. */
.card:nth-child(1) {
  animation: fadeIn .8s, slideUp .8s;
}

.card:nth-child(2) {
  animation: fadeIn 1s, slideUp 1s;
}

.card:nth-child(3) {
  animation: fadeIn 1.2s, slideUp 1.2s;
}

.explanation {
  animation: fadeIn .8s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideUp {
  0% { transform: translateY(calc(var(--unit-space) * 4)); }
  100% { transform: none; }
}

/* On mouse-over, add a deeper shadow. */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container. */
.container {
  padding: var(--unit-space);
}

/* Setting a fixed height helps the cards look consistent. */
.fact {
  height: calc(var(--unit-space) * 2);
}

/* Button styles */
.button {
  background-color: transparent;
  font-size:medium;
  font-weight: bold;
  border-style: none;
  color: var(--primary-color);
  cursor: pointer;
  display: block;
  margin: auto;
  height: calc(var(--unit-space) * 2);
}

.button:hover {
  color: var(--accent-color);
  transition: color 0.3s;
}
