.cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: var(--unit-space) auto;
}

.headerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer {
    margin-top: calc(var(--unit-space) * 3);
}

.button {
    background-color: transparent;
    font-size:medium;
    font-weight: bold;
    border-style: none;
    color: var(--primary-color);
    cursor: pointer;
    display: block;
    margin: auto 0 auto auto;
  }
  
  .button:hover {
    color: var(--accent-color);
    transition: color 0.3s;
  }
  