.cardGrid {
    display: grid;
    /* TODO: find the right configuration so that the grid fits
             as many cards as possible on a row*/
    grid-template-columns: repeat(auto-fill, 315px);
    margin: var(--unit-space) auto;
    gap: var(--unit-space);
}

.headerGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.button {
    background-color: transparent;
    font-size:medium;
    font-weight: bold;
    border-style: none;
    color: var(--primary-color);
    cursor: pointer;
    display: block;
    margin: auto 0 auto auto;
  }
  
  .button:hover {
    color: var(--accent-color);
    transition: color 0.3s;
  }
  