section {
    margin-bottom: var(--unit-space);
}

.dates {
    font-size: var(--font-0);
    margin-bottom: calc(var(--unit-space) / 2);
}

.location {
    font-style:italic;
    font-weight: normal;
    white-space: nowrap;
}

.header {
    line-height: var(--unit-space);
}