.row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: var(--unit-space);
}

section {
    margin-bottom: var(--unit-space);
}

.jobLogoColumn,
.jobDetailColumn {
    color: var(--text-color);
}

.jobLogoColumn {
    font-size: var(--font-0);
    padding-right: var(--unit-space);
}

.jobDetailColumn {
    line-height: var(--unit-space);
    padding-left: calc(var(--unit-space) * 2);
    border-left: var(--border-weight) solid;
    border-color:var(--accent-color);
}

.location {
    font-style:italic;
}