/* Styles for showing a picture and text side-by-side */
.pictureTextContent {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: var(--unit-space) auto;
    gap: var(--unit-space);
}

.rightColumn {
    max-width: 100%;
    overflow: wrap;
}

.leftColumn {
    max-width: 100%;
    overflow:wrap;
}

.para {
    overflow:wrap;
}

.picture {
    margin: auto;
}

.header {
    margin-bottom: calc(var(--unit-space));
}