.picture-text-content {
    display: flex;
    gap: 0 var(--unit-space);
    flex-wrap: wrap;
    /* Push the picture to the far end of the screen to align with right edge. */
    justify-content: space-between;
}

.message {
    /* Arbitrary max width to allow text and picture to appear side by side on
        larger width screens. */
    max-width: 650px;
}



